@import "/node_modules/normalize.css/normalize.css";

@import "modules/variables";
@import "modules/base";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
    margin: 0;
}

#uiText {
    position: fixed;
    left: 32px;
    top: 20px;
    span {
        display: flex;
        align-items: center;
        font: bold 18px sans-serif;
    }
}

.mdi {
    font-size: 24px;
    margin: 0 10px;
}

#toolbar {
    position: fixed;
    top: calc(100% - 88px);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    .toolgroup {
        display: flex;
        align-items: center;
        .tool {
            width: 48px;
            height: 48px;
            background-color: white;
            border-radius: 50%;
            border: 1px solid #0002;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            cursor: pointer;
            .mdi {
                margin: 0;
            }
        }
    }
    &.open {
        left: calc(100% - 64px);
    }
}
