@import "/node_modules/normalize.css/normalize.css";

@import "modules/variables";
@import "modules/base";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
    margin: 0;
}

#uiText {
    position: fixed;
    left: 20px;
    top: 20px;
    span {
        display: flex;
        align-items: center;
        font: bold 18px sans-serif;
    }
}
